#Täringu-veeretaja{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: brown;
    color: grey;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background: blue;
}
button:active{
    background: brown;
}

input{
    font-size: 1rem;
    width: 150px;
    text-align: left;
    font-weight: bold;
}